Fichiers et dossiers générés automatiquement
.github/
.DS_Store
.eslintrc.json
README.md
package-lock.json
package.json

Fichiers spécifiques au développement du site web
index.html
script.js
style.css
